.centro{
    border-radius:50%;
}
.cambio,.otro{
    width: 300px;
}
div{
    width:50%;
}
.roma{
    text-align:center;
}
.roma{
    width:15%;
}
.miro{
    text-align:center;
}
.miro{
    width:50%;
}
hr{
    width:10%;
}
h2{
    text-align:center;
}
.yus{
    background-color: black;
    color:white;
}
